<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>logstash:5000</destination>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>

	<root level="DEBUG">
		<appender-ref ref="logstash" />
	</root>
</configuration>